<script lang="ts">
  import Product from "./p_domain";
  let products: Product[] = undefined;
  products = Product.fromArrayJsonLD();
</script>

<div>
  {#each products as p}
    <p>{p.name}v</p>
  {/each}
</div>
