<script lang="ts">
  import { onMount } from "svelte";
  import DataModel from "./Doman";

  let data: DataModel = undefined;

  onMount(() => {
    getJsonLD();
  });

  function getJsonLD(): void {
    setTimeout(() => {
      try {
        data = DataModel.fromJsonLD();
      } catch (err) {
        console.log("aqui");

        data = null;
      }
    }, 2000);

    console.log(data);
  }
</script>

<article>
  {#if data === undefined}
    Loading...
  {:else if data === null}
    Some error
  {:else if data}
    <p>Name: {data?.prop1}</p>
    <p>Age: {data?.prop2}</p>
    <p>Alive: {data?.prop3}</p>
    <p>Friends: {data?.prop4}</p>
    <p>Car: {data?.prop5.name}, {data?.prop5.cost}</p>
  {/if}
</article>

<style>
</style>
