<p id="header">
  {{id}} - {{topic}} - {{sub_topic}}
</p>

<p id="front_text">
{{spanish_text}}
</p>

<div class="audio">
  <audio src="{{spanish_audio}}" />
</div>

<style>
#header {
  font-size: 12px;
}

.card {
    font-family: arial;
    font-size: 20px;
    color: black;
    background-color: white;
}

#front_text {
  text-align: center;
}

.audio {
  height: 40px;
  width: 40px;
  background-color: lightgray;
  position: absolute;
  right: 20px;
}
</style>

{{english_text}}

<div class="audio">
  <audio src="{{english_audio}}" />
</div>
