h1,
h2,
h3,
h4,
h5 {
  color: cadetblue;
  font-weight: bolder;
}

h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: red;
}

h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: blue;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
}

h5 {
  font-size: 1.5rem;
  font-weight: normal;
}

h6 {
  font-size: 1rem;
  font-weight: normal;
}

hr {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
